{% extends 'simple.html' %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pull-center mx-auto p-4">
                    <h1 class="col-lg-12 pull-center mx-auto text-center">目標設定サポート検索</h1>
                </div>
            </div>
            <div class="row pull-center mx-auto">
                <div class="col-md-2"></div>
                <div class="col-md-8 small">
                    <ul class="list-group">
                        <li class="list-group-item">コンピテンシー、業務タスクを検索して、評価項目や必要なスキル・知識を探し、目標設定や評価項目の作成にご利用いただけるツールです。
                            項目を選択して目標設定シートを作成できます。ご利用は無料です。</li>
                        <li class="list-group-item">
                            追加ボタンを押して目標タイトルを入力することで、UUIDを伴うユニークなURLが生成され、目標設定シートを保存することができます。目標設定シートのURLの拡散や漏洩は自己責任の範疇にて同意いただきご利用ください。
                        </li>
                        <li class="list-group-item">現在<a href="https://www.ipa.go.jp/" target="_blank">IPA</a>が公開している
                            「<a href="https://www.ipa.go.jp/jinzai/hrd/i_competency_dictionary/" target="_blank">iコンピテンシーディクショナリ</a>」といくつかの独自スキルのデータベースをご利用いただけます。
                            他に利用したいコンピテンシーフレームワークやスキルフレームワークやおすすめがあればご一報ください。
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 pull-center p-2">
                    <!-- SEARCH FORM -->
                    <form name="search-form" action="#" method="GET" class="form-inline" onsubmit="return false;">
                        <div class="input-group input-group-lg col-lg-8 mx-auto">
                            <input class="form-control form-control-lg" type="search" name="q" id="search-query" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn search-exec" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 pull-center mx-auto text-center p-3">
                    <p>件数：<span id="total-count"></span>件</p>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row" id="search-results">
            </div>
        </div>
    </div>
    <!-- /.Main content -->

{% endblock %}

{% block compornents %}
<aside class="control-sidebar control-sidebar-light sticky-top" id="cust_sidebar" style="width:400px;">
    <div class="p-3">
      <h5>目標設定シートの作成</h5>
      <form name="target-create-form" id="target-create-form" action="{% url 'api-target-create' %}" method="post">
        {% csrf_token %}
        <div class="row form-group">
          <input type="text" name="viewname" id="target-viewname" class="form-control" placeholder="目標のタイトル（必須）">
          <div class="invalid-feedback" id="feedback-viewname"></div>
        </div>
        <div class="row form-group">
          <input type="text" name="description" id="target-description" class="form-control" placeholder="目標ので目指す姿（任意）">
          <div class="invalid-feedback" id="feedback-description"></div>
        </div>
        <hr>
        <div id="target-items">
        </div>
        <div class="invalid-feedback" id="feedback-items"></div>
        <hr>
        <div class="row form-group">
          <div class="col">
            <label for="industory">姓</label>
            <input name="last_name" id="target-last_name" type="text" class="form-control" placeholder="姓（任意）">
            <div class="invalid-feedback" id="feedback-last_name"></div>
          </div>
          <div class="col">
            <label for="industory">名</label>
            <input name="first_name" id="target-first_name" type="text" class="form-control" placeholder="名（任意）">
            <div class="invalid-feedback" id="feedback-first_name"></div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label for="industory">業界・業種</label>
            {{request.target_create_form.industory}}
          </div>
          <div class="col">
            <label for="target-industory_opt">業界・業種（その他）</label>
            <input name="industory_opt" id="target-industory_opt" type="text" class="form-control" placeholder="分類にない業界を入力">
            <div class="invalid-feedback" id="feedback-industory_opt"></div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label for="job">職種</label>
            <input name="job" id="target-job" type="text" class="form-control" placeholder="例）スーパーバイザー">
            <div class="invalid-feedback" id="feedback-position"></div>
          </div>
          <div class="col">
            <label for="grade">グレード</label>
            {{request.target_create_form.grade}}
            <div class="invalid-feedback" id="feedback-grade"></div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label for="target-position">肩書き(任意)</label>
            <input name="position" id="target-position" type="text" class="form-control" placeholder="例）係長・チームリーダー">
            <div class="invalid-feedback" id="feedback-position"></div>
          </div>
          <div class="col">
            <label for="target-role">役割(任意)</label>
            <input name="role" id="target-role" type="text" class="form-control" placeholder="例）ユーザーのサポート窓口">
            <div class="invalid-feedback" id="feedback-role"></div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label for="target-org_name">会社名(任意)</label>
            <input name="org_name" id="target-org_name" type="text" class="form-control" placeholder="会社名">
            <div class="invalid-feedback" id="feedback-org_name"></div>
          </div>
          <div class="col">
            <label for="target-department_name">部門・部署名(任意)</label>
            <input name="department_name" id="target-department_name" type="text" class="form-control" placeholder="例）○○事業部 開発チーム">
            <div class="invalid-feedback" id="feedback-department_name"></div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label for="target-org_url">組織URL(任意)</label>
            <input name="org_url" id="target-org_url" type="text" class="form-control" placeholder="https://example.com">
            <div class="invalid-feedback" id="feedback-org_url"></div>
          </div>
          <div class="col">
            <label for="target-passcode">パスコード(任意)</label>
            <input name="passcode" id="target-passcode" type="password" class="form-control" placeholder="編集用パスコード">
            <div class="invalid-feedback" id="feedback-passcode"></div>
          </div>
        </div>
        <div class="row small p-3">
          ※ 会員登録などはされません。<br>
          ※ 目標設定シートを作成するとUUIDでユニークな目標設定シートURLが発行され、いつでもweb上で見直すことができます。<br>
          ※ UUID付きのURLは意図せず拡散されないように自己責任・自己管理するようお願いします。<br>
        </div>
        <div id="target-create-messages" class="alert alert-danger" style="display:none;"></div>
        <div class="row form-group">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="target-create-button"><span class="small">目標設定シートを作成する</span></button>
        </div>
      </form>
    </div>
  </aside>

  <div class="col-md-4" id="template-card" style="displpay:noe;">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h5 class="card-title m-0"></h5>
            <div class="card-tools">
              <div class="task-tree small"></div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="card-text"></div>
            <table class="table table-striped table-valign-middle table_sticky w-100">
                <tbody class="task-items overflow-auto" style="display:block; height: 250px;">
                </tbody>
            </table>
        </div>
        <div class="card-footer overflow-auto" style="height:100px;">
        </div>
    </div>
  </div>
{% endblock %}  

{% block scripts %}
<script>
var LAST_WORDS = "";
var ALL_TASKS = {};
var ALL_ITEMS = {}
var PAGEINFO = {};
var PAGE_LOADING = 0;
var SELECTED = {};
var LAST_SCROLL = 0;
var get_page = function(page) {
    url = '{% url 'api-tasks' %}';
    $.ajax({
        url : url,
        type : "GET",
        dataType : 'json',
        data : {
            q : LAST_WORDS,
            perpage : 18,
            page : page
        }
    }).done(function(data){
        if('OK' != data['result']){
            alert('error');
            return;
        }
        PAGEINFO = data.pageinfo;
        $('#total-count').text(data.pageinfo.count);
        for(let num=0; num < data.data.length; ++num){
            ALL_TASKS[data.data[num].code] = data.data[num];
            var card = $('#template-card').clone();
            idstr = 'card-' + data.data[num].id;
            taskcode = data.data[num].code;
            card.attr('id',idstr);
            card.appendTo('#search-results');
            card.show();
            parent = data.data[num].parent;
            root = data.data[num].parent.parent;
            $('#'+idstr+' .task-tree').text(root.name + ' -> ' + parent.name);
            $('#'+idstr+' .card-title').text(data.data[num].name);
            for(let i=0; i<data.data[num].items.length; ++i){
                item = data.data[num].items[i];
                ALL_ITEMS[item.code] = item;
                str = item.name.replace(LAST_WORDS,"<span class='text-danger'>"+LAST_WORDS+"</span>");
                tr = "<tr><td class='small'>" + str
                    + "</td><td class='small'><button class='btn btn-primary btn-sm text-nowrap btn-item-select' data-id='"
                    + item.code + "' id='select-btn-" + item.id + "' task-code='" + taskcode + "'>追加</button></td></tr>";
                li = '<li class="nav-item"><a href="#" class="nav-link">'+str+' <span class="float-right badge bg-primary">追加</span></a></li>';
                $('#'+idstr+' .task-items').append(tr);
                $('#'+idstr+' .task-evaluation-items').append(li);
                add_select_action('#select-btn-'+item.id);
            }
            for(let i=0; i<data.data[num].profiles.length; ++i){
                profile = data.data[num].profiles[i];
                badge = '<span class="badge badge-secondary">'+profile.name+'</span> '
                $('#'+idstr+' .card-footer').append(badge);
            }
        }
    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
        alert(textStatus);
    });

}
var search = function(query) {
    if( LAST_WORDS != "" && query == LAST_WORDS ){
        return;
    }
    $('#search-results').empty();
    ALL_TASKS = {};
    LAST_WORDS = query;
    get_page(1);
}
var add_select_action = function(id){
    $(id).on('click',function(e){
        console.log(SELECTED);
        itemCode = $(this).attr('data-id');
        taskCode = $(this).attr('task-code');
        item = ALL_ITEMS[itemCode];
        task = ALL_TASKS[taskCode];
        item.parent = task;
        if(itemCode in SELECTED){
        } else {
            SELECTED[itemCode] = item;
            row = '<div class="card card-outline card-primary">'
                    + '<div class="card-header small"><div class="card-title"><span class="small">'
                        + task.name
                        + '</span></div><div class="card-tools">'
                            +'<button type="button" class="btn btn-tool" data-card-widget="remove" id="item-remove-'+item.id
                            +'" item-code="'+itemCode
                            +'" task-code="'+taskCode
                            +'"><i class="fas fa-times"></i></button></div>'
                    + '</div>'
                    + '<div class="card-body small p-2">'
                        + item.name
                    + "</div>"
                + "</div>";
            $('#target-items').append(row);
            $('#item-remove-'+item.id).on('click',function(e){
                itemCode = $(this).attr('item-code');
                taskCode = $(this).attr('task-code');
                delete SELECTED[itemCode];
                console.log(SELECTED);
            });
        }
        $('.added-number').text(Object.keys(SELECTED).length);
        $('.control-sidebar').addClass('active');
        var get_class = $("body").attr('class');
        if (get_class == "fixed layout-top-nav control-sidebar-slide-open") {
            //$('body').removeClass('control-sidebar-open');
        } else {
            $('#open-csidebar').click();
        }
    });
}
$(function () {
    $('#template-card').hide();
    search(LAST_WORDS);
    $('#search-query').keypress(function(e){
        if (e.keyCode == 13) {
            search($(this).val());
        }
    });
    $('.search-exec').on('click',function(e){
        search($("#search-query").val());
    });
    $(window).on("scroll", function() {
        if(PAGEINFO.page){
        } else {
            return;
        }
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        if ((scrollHeight - scrollPosition) <= 5) {
            cur_page = PAGEINFO.page;
            if( cur_page >= PAGEINFO.num_pages ){
                return;
            }
            if(cur_page+1 == PAGE_LOADING){
                return;
            }
            PAGE_LOADING = cur_page+1;
            get_page(PAGE_LOADING);
        }
    });
    $('#open-csidebar').on('click',function(e){
      var get_class = $("body").attr('class');
      if (get_class == "fixed layout-top-nav control-sidebar-slide-open") {
          $(window).scrollTop(LAST_SCROLL);
      } else {
        LAST_SCROLL = $(window).scrollTop();
        $(window).scrollTop(0);
      }
    });
    $('#target-create-button').on('click',function(e){
        data = form2json('#target-create-form');
        document.cookie = 'first_name=' + encodeURIComponent(data['first_name']);
        document.cookie = 'last_name=' + encodeURIComponent(data['last_name']);
        document.cookie = 'org_name=' + encodeURIComponent(data['org_name']);
        document.cookie = 'department_name=' + encodeURIComponent(data['department_name']);
        document.cookie = 'industory=' + encodeURIComponent(data['industory']);
        document.cookie = 'industory_opt=' + encodeURIComponent(data['industory_opt']);
        document.cookie = 'position=' + encodeURIComponent(data['position']);
        document.cookie = 'job=' + encodeURIComponent(data['job']);
        document.cookie = 'role=' + encodeURIComponent(data['role']);
        document.cookie = 'grade=' + encodeURIComponent(data['grade']);
        url = '{% url 'api-target-create' %}';
        item_ids = [];
        for (const [key, value] of Object.entries(SELECTED)) {
          item_ids.push(value.id);
        }
        data.items = item_ids;
        console.log(data);
        data2api(url,'POST',data,function(data){
          if(data['result']=='NG'){
            for (const [key, value] of Object.entries(data['messages'])) {
              $('#target-create-messages').text($('#target-create-messages').text() + value);
              $('#target-create-messages').show();
            }
            for (const [key, value] of Object.entries(data['field_errors'])) {
              divname = '#feedback-' + key;
              inputname = '#target-' + key;
              $(inputname).addClass('is-invalid');
              for (idx = 0; idx < value.length; idx++) {
                $(divname).text($(divname).text()+value[idx]);
              }
            }
          } else {
            console.log(data);
            url = '/target/' + data['data']['uuid'];
            window.location.href = url;
          }
        },function(XMLHttpRequest, textStatus, errorThrown){
          alert(errorThrown);
        });
      });
      const cookies = document.cookie;
      const array = cookies.split(';');
      array.forEach(function(value) {
        const content = value.split('=');
        key = '#target-' + content[0].trim();
        $(key).val(decodeURIComponent(content[1]));
      })
    
})
</script>
{% endblock %}
