{% extends 'top.html' %}
{% load static %}
{% load i18n %}
{% load mathfilters %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="row">
        <div class="col col-md-12 text-right small pr-3 pb-1">
          <a href="#" data-toggle="collapse"
          data-target="#howtouse" aria-controls="howtouse" aria-expanded="true">
            <i class="fa-solid fa-square-minus"></i> 説明を折りたたむ
          </a>
        </div>
      </div>
      <div class="container-fluid show" id="howtouse">
          <div class="row" style="display:flex;flex-wrap:wrap;">
            <div class="col col-md-6" style="display:flex;flex-wrap:wrap;min-width:350px;">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    {% trans 'Attention' %}
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <ul class="list-group small">
                    <li class="list-group-item">
                      デジタル人材育成・デジタル関連スキルアップの有用なコンピテンシー、業務タスク・スキル・知識を検索して、評価項目や必要なスキル・知識を探し、目標設定や評価項目の作成にご利用いただけるツールです。
                    </li>
                    <li class="list-group-item">
                      個人的なスキルアップ目標の設定、どんな知識やスキルが必要かの確認だけでなく、部下や社員の育成時の目標設定の補助としてご活用ください。
                    </li>
                    <li class="list-group-item">
                      現在<a href="https://www.ipa.go.jp/" target="_blank">IPA</a>が公開している
                      「<a href="https://www.ipa.go.jp/jinzai/hrd/i_competency_dictionary/" target="_blank">iコンピテンシーディクショナリ</a>」と
                      いくつかの独自スキルのデータベースをご利用いただけます。
                    </li>
                </ul>

                  <div class="alert alert-warning alert-dismissible small">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> ご注意</h5>
                    ご利用は無料です。目標設定シートのURLは自己責任で管理してください。拡散や漏洩の責任は負いかねます。本サイトでURLを同意なく公開することはありません。
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <div class="col col-md-6" style="display:flex;flex-wrap:wrap;min-width:350px;">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fa-solid fa-question"></i> {% trans 'Howtouse' %}
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body small">
                  <ol>
                    <li>
                      ヘッダーの検索欄にスペース区切りで検索したい単語を入力して、目標設定に使いたい項目を絞り込みましょう。業務名や職種、知識名やスキル名などで絞り込めます。
                    </li>
                    <li>
                      項目の右に表示されている「選択」ボタンをクリックして評価項目を選択してください。
                      選択済みの項目は右上のクリップアイコンをクリックするとスライドバーが表示され確認することができます。
                    </li>
                    <li>
                      スライドバーから、目標タイトル他必要項目を入力して「目標設定シートを作成する」ボタンをクリックすることで目標設定を保存することができます。
                    </li>
                    <li>
                      目標設定シートを保存するとUUIDを伴うユニークなURLが生成され、URLを知っている人だけがアクセスすることができるようになります。
                    </li>
                    <li>
                      目標設定シートを作成したら自己評価を記録し、目標に対して起こすアクションを登録しましょう。
                      シートでは、関連するスキル・知識の単語を見ることができます。教材を探す検索ワードなどにしてください。
                    </li>
                    <li>
                      URLを上長やチームメンバーと共有して他者評価をお願いすることができます。振り返りやフィードバックにご活用ください。
                    </li>
                  </ol>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
          <div class="col-lg-12 pull-center mx-auto text-center p-1">
            <p>件数：<span id="total-count"></span>件</p>
          </div>
          <div class="row" id="search-results">
          </div>
        </div>
    </div>
    <!-- /.Main content -->

{% endblock %}

{% block compornents %}

{% include 'components/sidebar_selected.html' %}
  <div class="col-md-4" id="template-card" style="displpay:noe;">
    <div class="card card-primary card-outline">
        <div class="card-header">
          <div class="task-tree small"></div>
          <h5 class="card-title m-0"></h5>
        </div>
      <div class="card-body overflow-auto p-0" style="height: 250px;display:block;">
            <table class="table table-striped table-valign-middle table_sticky w-100">
                <tbody class="task-items w-100">
                </tbody>
            </table>
        </div>
        <div class="card-footer overflow-auto" style="height:100px;">
        </div>
    </div>
  </div>
{% endblock %}  

{% block scripts %}
<script>
var LAST_SCROLL = 0;
$(function () {

    $('#template-card').hide();
    show_selected_items('#target-items','.added-number');

    const address = new URL(window.location);
    $('#search-query').val(address.searchParams.get('q'));
    search($('#search-query').val());

    $('#search-query').keypress(function(e){
        if (e.keyCode == 13) {
            search($(this).val());
        }
    });

    $('.search-exec').on('click',function(e){
        search($("#search-query").val());
    });

    $('#word-search-form').submit(function(e){
      search($("#search-query").val());
      return false;
    });

    $(window).on("scroll", function() {
        if(PAGEINFO.page){
        } else {
            return;
        }
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        if ((scrollHeight - scrollPosition) <= 5) {
            cur_page = PAGEINFO.page;
            if( cur_page >= PAGEINFO.num_pages ){
                return;
            }
            if(cur_page+1 == PAGE_LOADING){
                return;
            }
            PAGE_LOADING = cur_page+1;
            get_page(PAGE_LOADING);
        }
    });

    $('#open-csidebar').on('click',function(e){
      var get_class = $("body").attr('class');
      if (get_class == "fixed layout-top-nav control-sidebar-slide-open") {
          $(window).scrollTop(LAST_SCROLL);
      } else {
        LAST_SCROLL = $(window).scrollTop();
        $(window).scrollTop(0);
      }
    });

    $('#target-create-button').on('click',function(e){
        create_target('#target-create-form');
    });

    const cookies = document.cookie;
    const array = cookies.split(';');
    array.forEach(function(value) {
        const content = value.split('=');
        key = '#target-' + content[0].trim();
        $(key).val(decodeURIComponent(content[1]));
    })
    
})
</script>
{% endblock %}
